# Exercice
Faire un programme qui:

Trouve les 10 villes de France les + peuplées (e.g https://fr.wikipedia.org/wiki/Liste_des_communes_de_France_les_plus_peuplées)
Pour chaque ville, trouve sa distance avec les autres.
par exemple, avec google maps api (nécessite de s'authentifier / créer un token) avec https://github.com/googlemaps/google-maps-services-python (cf. doc token dans le readme)
ou avec https://fr.distance24.org/ (pas besoin de s'authentifier)
Trouve les villes les plus proches

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
import json

In [3]:
import pandas as pd

In [4]:
url = "https://fr.wikipedia.org/wiki/Liste_des_communes_de_France_les_plus_peupl%C3%A9es"

In [5]:
req = requests.get(url)
soup = BeautifulSoup(req.text, "lxml")

In [6]:
item_table = soup.find('table')

In [7]:
item_lines = item_table.find_all('tr')[1:11]

In [8]:
len(item_lines)

10

In [9]:
list_town = []

In [10]:
for line in item_lines :
    town_name = line.find_all('td')[1].find('a').text
    list_town.append(town_name)

In [11]:
list_town

['Paris',
 'Marseille',
 'Lyon',
 'Toulouse',
 'Nice',
 'Nantes',
 'Montpellier',
 'Strasbourg',
 'Bordeaux',
 'Lille']

In [12]:
len(list_town)

10

In [14]:
def get_distance(list_town):

    dict_distance = {}
    
    for town in list_town :

        dict_distance[town] = {}
        for town_bis in list_town:

            if(town != town_bis):
                distance = get_distance_between(town, town_bis)
                dict_distance[town][town_bis] = int(distance)
                
    return dict_distance

In [15]:
dict_distance = get_distance(list_town)

In [16]:
df = pd.DataFrame(dict_distance)

In [17]:
df

,Bordeaux,Lille,Lyon,Marseille,Montpellier,Nantes,Nice,Paris,Strasbourg,Toulouse
Bordeaux,NaN,700.0,436.0,506.0,381.0,276.0,638.0,500.0,760.0,212.0
Lille,700.0,NaN,558.0,835.0,784.0,508.0,835.0,204.0,408.0,792.0
Lyon,436.0,558.0,NaN,278.0,251.0,516.0,300.0,392.0,384.0,360.0
Marseille,506.0,835.0,278.0,NaN,126.0,696.0,159.0,661.0,617.0,319.0
Montpellier,381.0,784.0,251.0,126.0,NaN,584.0,273.0,596.0,629.0,196.0
Nantes,276.0,508.0,516.0,696.0,584.0,NaN,792.0,343.0,710.0,466.0
Nice,638.0,835.0,300.0,159.0,273.0,792.0,NaN,688.0,545.0,469.0
Paris,500.0,204.0,392.0,661.0,596.0,343.0,688.0,NaN,397.0,589.0
Strasbourg,760.0,408.0,384.0,617.0,629.0,710.0,545.0,397.0,NaN,737.0
Toulouse,212.0,792.0,360.0,319.0,196.0,466.0,469.0,589.0,737.0,NaN

In [18]:
def get_closest_towns(df_towns):
    
    list_min_values = df_towns.min()
    min_value = min(list_min_values)
    
    return list_min_values[list_min_values==min_value].index

In [19]:
closest_towns = get_closest_towns(df)

In [20]:
print('Les villes les plus peuplées et les plus proches sont ' + ' et '.join(closest_towns))

Les villes les plus peuplées et les plus proches sont Marseille et Montpellier